body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#login-container, #container {
    height: 50%;
    width: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input{
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#error-container {
    color: red;
    margin: 0 auto;
    margin-top: 10px;
    height: 20px;
    width: 100%;
    text-align: center;
}

#links {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.clickable-div {
    color: #545a5f;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: #ccc 3px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(246, 255, 252);
}