body {
    font-weight: 800;
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
}

input {
    width: 30%;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: large;
    font-weight: 800;
}


button[type="submit"] {
    width: 7%;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #4CAF50;
    font-weight: 800;
}